<!DOCTYPE html>
<html lang="en">
<head>
    <title>ArtCraft Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ helper.asset('/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
<script src="{{ helper.asset('/jquery/jquery.min.js') }}"></script>
<script src={{ helper.asset('/bootstrap/js/bootstrap.min.js') }}></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">ArtCraft</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {# Left nav bar side#}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">All Users <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        {# Right nav bar side #}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if auth.isAuth() %}
                <a class="nav-link" href="/{{ auth.auth().0.key }}">Profile</a>
                {% else %}
                <a class="nav-link" href="/register">Registration</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<main class="py-4">
    {%  block content %}
    {%  endblock %}
</main>
</body>
</html>