{% extends 'app.html.twig' %}

{% block content %}
    <div class="container d-flex justify-content-center" style="padding-top: 10%">
        <h1 class="align-content-center" style="">{{ status }} Status Code</h1>
    </div>
{% endblock %}